.main {
    width: 100vw;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
    height: 37vh;
    color: white;
  }
  
  .transitionsItem {
    overflow: hidden;
    width: fit;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    line-height: 80px;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  