body{
    /* background-image:url("https://cdn.pixabay.com/photo/2018/03/14/17/01/sea-3225720_1280.jpg") ; */
    background-size: cover;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

